[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flwr = "==1.5.0"
tqdm = "*"
numpy = "*"
pennylane = "*"
matplotlib = "*"
pillow = "*"
scikit-learn = "*"
seaborn = "*"
pandas = "*"
opacus = "*"
pyyaml = "*"
tenseal = "*"
kaggle = "*"
jupyter = "*"
black = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
psrecord = "*"
wandb = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.13"
