[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
flwr = "==1.5.0"
tqdm = "*"
numpy = "*"
pennylane = "*"
matplotlib = "*"
pillow = "*"
scikit-learn = "*"
seaborn = "*"
pandas = "*"
opacus = "*"
pyyaml = "*"
tenseal = "*"
kaggle = "*"
jupyter = "*"
psrecord = "*"
wandb = "*"
pylint = "*"
rich = "*"
black = {extras = ["jupyter"], version = "*"}
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
torchaudio = {version = "*", index = "downloadpytorch"}

[dev-packages]

[requires]
python_version = "3.13"
